node_modules
dist
out
.DS_Store
.eslintcache
*.log*
.agents*
.vscode*
skills-lock.json
.env
.gemini*
.claude/
.impeccable/
desktop_notifications.json
dump.rdb
llm-dynamic-config.json
skills-config.json
weather.log/
